
<div class="article-page">
    <img src="{{articleInfo?.imageUrl}}" alt="">
    <mat-card>
        <mat-card-title>{{articleInfo?.title}}</mat-card-title>
        <mat-card-content>
           <p>{{articleInfo?.summary}}</p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, numquam, fuga ad modi ea impedit vero sint veniam maiores reprehenderit, eaque culpa iusto voluptas temporibus totam ipsum minima? Maxime, iste. Ab cumque consequatur dicta aliquid laboriosam sit repudiandae expedita officia perferendis nam odio iste, fugiat, vitae beatae ipsum magnam aut?</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, numquam, fuga ad modi ea impedit vero sint veniam maiores reprehenderit, eaque culpa iusto voluptas temporibus totam ipsum minima? Maxime, iste. Ab cumque consequatur dicta aliquid laboriosam sit repudiandae expedita officia perferendis nam odio iste, fugiat, vitae beatae ipsum magnam aut?</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, numquam, fuga ad modi ea impedit vero sint veniam maiores reprehenderit, eaque culpa iusto voluptas temporibus totam ipsum minima? Maxime, iste. Ab cumque consequatur dicta aliquid laboriosam sit repudiandae expedita officia perferendis nam odio iste, fugiat, vitae beatae ipsum magnam aut?</p>
        </mat-card-content>
        
    </mat-card>
    <a routerLink="/"><mat-icon>west</mat-icon> Back to homepage</a>
</div>